:root {
    /* background color site */
    --light-background-color: #FFFFFF;
    --dark-background-color: #2F303A;
    --medium-background-color: #F5F4FA;
    --accent-background-color: #2196F3;

    /* text color */
    --light-color-text: #FFFFFF;
    --dark-color-text: #000000;
    --medium-dark-color-text: #212121;
    --medium-light-color-text: #757575;
    --accent-color-text: #2196F3;
    --lightdark-color-text: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--light-background-color);
}
.list {
    list-style: none;
}
a {
    text-decoration: none;
}

/* header site */
.logo {
color: var(--accent-color-text);
}
.logo-text {
    color: var(--dark-color-text);
}
/* header nav site */
.site-nav .link {
    color: var(--medium-dark-color-text);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color-text);
}
.site-nav .link.current {
    color: var(--accent-color-text);
}
/* header contacts */
.contacts .link {
    color: var(--medium-light-color-text);
}
.contacts .link:hover, 
.contacts .link:focus {
    color: var(--accent-color-text);
}

/* main site */
/* section adv */
.adv {
    background-color: var(--dark-background-color);
}
.slogan {
    color: var(--light-color-text); 
}
.button {
    background-color: var(--accent-background-color);
    color: var(--light-color-text);
}
/* section specific */
.title-specific {
   display: none; 
}
.subtitle, .subtitle-team {
    color: var(--medium-dark-color-text); 
}
.text {
    color: var(--medium-light-color-text)
}
/* section teams */
.team-our {
    background-color: var(--medium-background-color);
}
.card-item {
    background-color: var(--light-background-color);
    width: 270px;
    height: 368px;
}
/* section portfolio */
.title-filter {
    display: none; 
}
.control {
    background-color: var(--medium-background-color);
    color: var(--medium-dark-color-text)
}
.control:hover, .control:focus {
    background-color: var(--accent-background-color);
    color: var(--light-color-text)  
}

/* footer site */
.footer {
    background-color: var(--dark-background-color);
}
.connection .link {
    color: var(--lightdark-color-text);
}
.connection .link:hover, 
.connection .link:focus {
    color: var(--light-color-text);
}