:root {
    /* background color site */
    --light-background-color: #FFFFFF;
    --dark-background-color: #2F303A;
    --medium-background-color: #F5F4FA;
    --accent-background-color: #2196F3;

    /* text color */
    --light-color-text: #FFFFFF;
    --dark-color-text: #000000;
    --medium-dark-color-text: #212121;
    --medium-light-color-text: #757575;
    --accent-color-text: #2196F3;
    --lightdark-color-text: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--light-background-color);
    color: var(--medium-dark-color-text);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
}
a {
    text-decoration: none;
}

/* header site */
.logo {
color: var(--accent-color-text);

font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
}
.logo-text {
    color: var(--dark-color-text);
}
/* header nav site */
.site-nav .link {
    color: var(--medium-dark-color-text);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color-text);
}
.site-nav .link.current {
    color: var(--accent-color-text);
}
/* header contacts */
.contacts .link {
    color: var(--medium-light-color-text);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.contacts .link:hover, 
.contacts .link:focus {
    color: var(--accent-color-text);
}

/* main site */
/* section adv */
.adv {
    background-color: var(--dark-background-color);
}
.slogan {
    color: var(--light-color-text);
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button {
    background-color: var(--accent-background-color);
    color: var(--light-color-text);
    cursor: pointer;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
/* section specific */
.title-specific {
   display: none;
   color: var(--medium-dark-color-text); 
}
.subtitle{
    color: var(--medium-dark-color-text);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}
.text {
    color: var(--medium-light-color-text);

    font-size: 14px;
    line-height: 1.7;
}
/* section works */
.title-works, .title-teams, 
.title-specific {
    color: var(--medium-dark-color-text);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
/* section teams */
.team-our {
    background-color: var(--medium-background-color);
}
.card-item {
    background-color: var(--light-background-color);

    width: 270px;
    height: 368px;
}
.subtitle-team{
    color: var(--medium-dark-color-text);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}
.text-team {
    color: var(--medium-light-color-text);

    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

/* section portfolio */
.title-filter {
    display: none; 
    color: var(--medium-dark-color-text);
}
/* button portfolio */
.filter {
   
}
.control {
    background-color: var(--medium-background-color);
    color: var(--medium-dark-color-text);
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}
.control:hover, .control:focus, 
.control:active {
    background-color: var(--accent-background-color);
    color: var(--light-color-text);  
}
/* cards portfolio*/
.card {
    background-color: var(--light-background-color);
}
.subtitle-card {
    color: var(--medium-dark-color-text);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.text-card {
    color: var(--medium-light-color-text);

    font-size: 16px;
    line-height: 1.9;
}

/* footer site */
.footer {
    background-color: var(--dark-background-color);
}
.footer .logo-text {
    color: var(--light-color-text);
}
.addres {
    font-style: normal;
}
.connection .link-first {
    color: var(--light-color-text);

    font-size: 14px;
    line-height: 1.7;  
}
.connection .link {
    color: var(--lightdark-color-text);

    font-size: 14px;
    line-height: 1.7;
}
